/* Variables */
:root {
  /* Colors */
  --darkblue: #2a3647;
  --darkblue-active: #091931;
  --lightblue: #29abe2;
  --grey: #cdcdcd;
  --grey-bg: #f6f7f8;
  --white: #ffffff;
  --black: #000000;

  /* Geometry */
  --nav-width-d: 232px;
  --nav-height-m: 80px;
  --border-radius-big: 30px;
  --border-radius-small: 10px;
}

/* Elemente */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--grey-bg);
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  position: fixed;
  width: 100vw;
  padding: 20px 25px;
  height: 79.02px;
  left: 0px;
  top: 0px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

::placeholder {
  color: var(--grey);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(100vh - 80px);
  left: 0px;
  bottom: 0px;
  width: 100vw;
  padding: 0;
  height: 80px;
  gap: 103px;
  background-color: var(--darkblue);
  color: var(--white);
  font-size: 16px;
  z-index: 2;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 47px;
  font-weight: 700;
  margin: 25px 0 25px 0;
}

p {
  font-size: 16px;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Klassen */
/* ! Klasse für Button anlegen!!!! */
.display-none {
  display: none !important;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.nav-item:hover {
  background-color: var(--darkblue-active);
}

.nav-item img {
  height: 25px;
}
.content {
  padding: calc(var(--nav-height-m) + 16px) 33px 0 33px;
}

.gap {
  gap: 20px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-row {
  display: flex;
  align-items: center;
}
.fullscreen {
  height: 100vh;
  width: 100vw;
}
.bg-white {
  background-color: var(--white);
}
.bg-dark {
  background-color: var(--darkblue);
}
.bg-grey {
  background-color: var(--grey-bg);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.dialog {
  background-color: var(--white);
  height: 60vh;
  width: 80vw;
  border-radius: 25px;
}
.dialog2 {
  width: 80vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  bottom: 0;
  margin-bottom: 60px;
}
.link {
  color: var(--lightblue);
  cursor: pointer;
}
.space-between {
  justify-content: space-between;
}
.plus-btn-small {
  width: 30px;
  height: 30px;
  border: 2px solid var(--darkblue);
  border-radius: var(--border-radius-small);
}

.plus-btn-big {
  background-color: var(--darkblue);
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-small);
}

.icon-white {
  height: 20px;
  width: 20px;
  filter: invert();
}

.input-login {
  border-radius: 5px;
  width: 80%;
  height: 30px;
  margin: 20px;
}

.desktop {
  display: none;
}
/* ID's */
#nav {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#head-logo {
  display: none;
}
#head-logo img {
  display: unset;
  width: 32px;
  height: 39.02px;
}
#head-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 26px;
  width: 106px;
  height: 49px;
}
#head-help {
  width: 25px;
  cursor: pointer;
}
#head-user-image {
  width: 49px;
  border-radius: 25px;
  border: 3px solid var(--darkblue);
}

#head-help,
#nav-legal,
#nav-logo {
  display: none;
}

#page-title,
#head-logo {
  display: unset;
}
#logo-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
}
#logo {
  width: 60px;
}
#hr {
  background-color: var(--lightblue);
  width: 60px;
  height: 4px;
  border: none;
  border-radius: 3px;
}
#task-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 20px;
  gap: 10px;
  background-color: var(--white);
  border-radius: var(--border-radius-big);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.searchbar {
  max-width: 260px;
  padding: 3px;
  gap: 10px;
  border: 1px solid #a8a8a8;
  border-radius: var(--border-radius-small);
  background-color: var(--white);
  justify-content: space-between;
}

.searchbar input {
  font-size: 16px;
  width: 80%;
  height: 41px;
  margin: auto;
  border: 0 solid;
  padding: 11px;
  border-right: 1px solid #a8a8a8;
  background-color: transparent;
}

.searchbar img {
  width: 50px;
  height: 25px;
}

/* Desktop View 800px+*/
@media (min-width: 800px) {
  header {
    padding: 20px 36px 20px 348px;
    height: 89px;
  }

  nav {
    justify-content: unset;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--nav-width-d);
    padding: 66px 0px;
    height: unset;
  }

  #nav {
    display: flex;
    height: unset;
    flex-direction: column;
    width: 100%;
  }

  #nav-legal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 243px 0px 0px;
    gap: 15px;
    width: var(--nav-width-d);
    height: 289px;
  }
  #nav-legal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: var(--nav-width-d);
    height: 46px;
  }
  #nav-legal-container img {
    width: 15px;
  }

  .searchbar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 51px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 47px;
    padding: 8px 50px;
    gap: 15px;
  }

  .nav-icon img {
    width: 25px;
  }

  .mobile {
    display: none !important;
  }

  .desktop {
    display: flex;
  }

  .content {
    padding: calc(var(--nav-height-m) + 50px) 33px 0
      calc(var(--nav-width-d) + 50px);
    margin: auto;
  }
  .plus-btn-big {
    gap: 15px;
    height: 51px;
    width: auto;
    padding: 10px;
  }

  .plus-btn-big span {
    color: var(--white);
    font-weight: 600;
  }

  #head-help,
  #nav-legal,
  #nav-logo {
    display: unset;
  }

  #page-title,
  #head-logo {
    display: none;
  }
}
