/***** Summary Container *****/

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headline-separator {
  width: 0;
  height: 59px;
  border-left: solid 3px var(--lightblue);
  border-radius: 3px;
  margin-left: 60px;
  margin-right: 30px;
}

#ui {
  display: flex;
  align-items: center;
}

/***** Summary Header *****/

.summary-header {
  display: flex;
  align-items: center;
}

.summary-header > h1 {
  border-right: 1px solid var(--black-bg);
  padding-right: 2rem;
  font-size: 3rem;
}

.summary-header > p {
  padding-left: 2rem;
  font-size: 1.5rem;
}

.summary-row123 {
}

/***** Summary Row 1 *****/

.summary-row-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  width: 580px;
  height: 170px;
}

.summary-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--white);
  width: 170px;
  height: 170px;
  box-shadow: var(--shadow);
  padding: 25px 0px;
}

.summary-box:hover {
  background-color: var(--darkblue);
  cursor: pointer;
  color: var(--white);
}

.text-in-box {
  text-align: center;
}

.number-in-box {
  font-size: 4rem;
}

/***** Summary Row 2 *****/

.summary-row-2 {
  display: flex;
  align-items: center;
  height: 170px;
  margin-top: 3rem;
}

.urgent-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 30px;
  border: 2px solid var(--white);
  box-shadow: var(--shadow);
  padding: 28px 48px;
  gap: 61px;
  width: 580px;
  height: 150px;
}

.urgent-box:hover {
  cursor: pointer;
  background-color: var(--darkblue);
  color: var(--white);
}

.urgent-box-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -40px;
  margin-left: 13px;
}

.urgent-box-left > img {
  width: 60px;
  height: 60px;
}

.number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.number-in-urgent-box {
  font-size: 2rem;
}

#urgent-separator {
  width: 0;
  height: 102px;
  border-left: solid 2px var(--dimmed);
  border-radius: 2px;
  margin: 0 61px;
}

.urgent-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background-color: var(--grey-bg);
  opacity: 1;
  transition: opacity var(--welcome-mobile-transition) ease-in
    var(--welcome-mobile-delay);
}

d-none {
  display: none !important;
}

.welcome-desk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 3px;
  position: absolute;
  width: 385px;
  height: 85px;
  left: 920px;
  top: 533px;
  margin-top: 40px;
}

#welcome-text-desk {
  font-size: var(--welcome-text-size);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
  width: 338px;
  height: 56px;
}

#welcome-name-desk {
  font-family: "Inter";
  font-style: normal;
  font-size: var(--welcome-name-size);
  font-weight: 700;
  color: var(--lightblue);
  width: 385px;
  height: 77px;
  font-size: 64px;
  line-height: 120%;
}

.deadline-date {
  font-weight: 700;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  width: 148px;
  height: 19px;
}

/***** Summary Row 3 *****/

.summary-row-3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  padding: 0px;
  gap: 35px;
  width: 580px;
  height: 150px;
}

.todo-container,
.done-container {
  background-color: var(--white);
  height: 170px;
  width: 280px;
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  cursor: pointer;
}

.todo-container:hover,
.done-container:hover {
  background-color: var(--darkblue);
  color: var(--white);
}

.todo-container:hover .summary-icons,
.done-container:hover .summary-icons {
  background-color: var(--white);
  color: var(--white);
}

.todo-container:hover .summary-icon,
.done-container:hover .summary-icon {
  filter: brightness(0);
}

.summary-icons {
  background-color: var(--darkblue);
  width: 69px;
  height: 69px;
  border-radius: 100%;
}
.summary-icons img {
  padding: 25px;
}

.todo-icon,
.done-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
}

.todo-container:hover .todo-icon {
  background: url(/assets/img/icons/icon-to-do-2.svg);
  /* filter: invert(100%);*/
}

.done-container:hover .done-icon {
  background: url(/assets/img/icons/icon-done-2.svg);
  /* filter: invert(100%);*/
}

.d-none {
  display: none;
}

.todo-number,
.done-number {
  font-size: 4rem;
}

.todo-text-container,
.done-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  width: 60px;
  height: 60px;
}
