/***** Responsive Design *****/

@media (max-width: 1200px) {
  #content-summary {
    display: flex;
    flex-direction: column;
    margin-top: 3.5vh;
  }

  #ui {
    flex-direction: column;
  }

  #data {
    margin-right: unset;
    margin-top: 3.5vh;
  }

  .welcome-desk {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  #welcome-text-desk,
  #welcome-name-desk {
    font-size: 40px;
  }

  #welcome-text-desk {
    margin-right: 16px;
  }
}

/*//////////////////////////////////////////////////////*/

@media (max-width: 1160px) {
  .welcome-desk {
    display: none;
  }
}

/*//////////////////////////////////////////////////////*/

@media (max-width: 940px) {
  .welcome-desk {
    display: none;
  }
}

/*//////////////////////////////////////////////////////*/

@media (max-width: 768px) {
  .summary-header > h1 {
    font-size: 1.5rem;
  }

  .summary-header > p {
    font-size: 1rem;
  }

  .nav-item {
    flex-direction: column;
    justify-content: flex-end;
    width: 22%;
    height: 100%;
    gap: 8px;
    padding: 0 0 13px;
  }

  .summary-row-1 {
    width: 100%;
  }

  .summary-box {
    width: 110px;
    height: 110px;
    margin: 4px;
  }

  .text-in-box {
    font-size: 0.8rem;
  }

  .number-in-box {
    font-size: 3rem;
    /* padding: 7px; */
    margin-top: -8px;
    margin-bottom: -14px;
    margin-right: -12px;
  }

  .summary-row-2 {
    width: 100%;
    height: 110px;
  }

  .urgent-box {
    width: 100%;
    height: 110px;
  }

  .urgent-box-left > img {
    width: 40px;
    height: 40px;
  }

  .urgent-title {
    font-size: 0.8rem;
  }

  .number-in-urgent-box {
    font-size: 2rem;
  }

  .deadline-date {
    font-size: 0.8rem;
  }

  .upcoming-deadline-title {
    font-size: 0.8rem;
  }

  .summary-row-3 {
    width: 100%;
    height: 110px;
  }

  .todo-container,
  .done-container {
    width: 175px;
    height: 110px;
    margin: 8px;
  }

  .todo-container > img {
    width: 40px;
    height: 40px;
  }

  .todo-number,
  .done-number {
    font-size: 2rem;
  }

  .done-container > img {
    width: 40px;
    height: 40px;
  }

  .welcome-desk {
    display: none;
    flex-direction: row;
    margin-top: 3vh;
  }

  #welcome-text-desk,
  #welcome-name-desk {
    font-size: 40px;
  }

  #welcome-text-desk {
    margin: 16px;
  }
}
