/***** Summary Container *****/

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** Summary Header *****/

.summary-header {
  display: flex;
  align-items: center;
}

.summary-header > h1 {
  border-right: 1px solid var(--black-bg);
  padding-right: 2rem;
  font-size: 3rem;
}

.summary-header > p {
  padding-left: 2rem;
  font-size: 1.5rem;
}

/***** Summary Row 1 *****/

.summary-row-1 {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 3rem;
}

.summary-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--white);
  width: 170px;
  height: 170px;
  padding: 1rem;
}

.summary-box:hover {
  border: 2px solid var(--darkblue);
  cursor: pointer;
}

.text-in-box {
  text-align: center;
}

.number-in-box {
  font-size: 4rem;
}

/***** Summary Row 2 *****/

.summary-row-2 {
  display: flex;
  align-items: center;
  height: 170px;
  margin-top: 3rem;
}

.urgent-box {
  display: flex;
  height: 170px;
  background-color: var(--white);
  border-radius: 30px;
  border: 2px solid var(--white);
  width: 600px;
  padding: 2rem;
}

.urgent-box:hover {
  cursor: pointer;
  border: 2px solid var(--darkblue);
}

.urgent-box-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--black);
  width: 50%;
}

.urgent-box-left > img {
  width: 60px;
  height: 60px;
}

.number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.number-in-urgent-box {
  font-size: 2rem;
}

.urgent-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.welcome-text-container {
  margin-left: 8rem;
}

.welcome-name {
  font-size: 3.5rem;
  color: var(--lightblue);
  font-weight: 700;
}

.welcome-text {
  font-size: 3rem;
}

.text-box {
  margin: 3rem 0;
}

.deadline-date {
  font-weight: 700;
  font-size: 1.5rem;
}

/***** Summary Row 3 *****/

.summary-row-3 {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.todo-container,
.done-container {
  background-color: var(--white);
  height: 170px;
  width: 280px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
}

.todo-container:hover,
.done-container:hover {
  border: 2px solid var(--darkblue);
  cursor: pointer;
}

.todo-number,
.done-number {
  font-size: 4rem;
}

.todo-text-container,
.done-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.done-container > img {
  width: 60px;
  height: 60px;
}

.todo-container > img {
  width: 60px;
  height: 60px;
}
