/***** Summary Container *****/

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** Summary Header *****/

.summary-header {
  display: flex;
  align-items: center;
}

.summary-header > h1 {
  border-right: 1px solid #000000;
  padding-right: 2rem;
  font-size: 3rem;
}

.summary-header > p {
  padding-left: 2rem;
  font-size: 1.5rem;
}

/***** Summary Row 1 *****/

.summary-row-1 {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 3rem;
}

.summary-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #ffffff;
  width: 170px;
  height: 170px;
  padding: 1rem;
}

.summary-box:hover {
  border: 2px solid #2a3647;
  cursor: pointer;
}

.text-in-box {
  text-align: center;
}

.number-in-box {
  font-size: 4rem;
}

/***** Summary Row 2 *****/

.summary-row-2 {
  display: flex;
  align-items: center;
}

.urgent-box {
  display: flex;
}

.urgent-box-left {
  display: flex;
  justify-content: center;
}

.number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.urgent-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/***** Summary Row 3 *****/

.summary-row-3 {
  display: flex;
  justify-content: space-between;
}

.todo-container,
.done-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-text-container,
.done-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/***** Responsive Design *****/

@media (min-width: 2560px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 768px) {
}
