<a href="../index.html" id="head-logo"><img src="../assets/img/logos/logo-dark.png" alt="Join" /></a>
<span class="desktop">Kanban Project Management Tool</span>
<div id="head-right">
  <a href="./help.html" id="head-help">
    <img id="head-help" class="questionsmark" src="../assets/img/icons/icon-questionsmark.svg" alt="Need Help?" /></a>

  <div onclick="toggleContextMenu('context-menu-header')">
    <img id="head-user-image" src="../assets/img/icons/profilbild.jpg" alt="" />
    <span id="header-badge-user" class="display-none"></span>
  </div>
  <div id="context-menu-header" class="context context-main context-header display-none">
    <a href="./help.html" class="context-header--item">Help</a>
    <a href="./legal.html" class="context-header--item">Legal notice</a>
    <span onclick="logOut()">Log out</span>
  </div>
</div>