<body>
  <a href="./summary.html" id="head-logo"
    ><img src="/assets/img/logos/logo-dark.png" alt="Join"
  /></a>
  <span id="head-title">Kanban Project Management Tool</span>
  <div id="head-right">
    <a href="./help.html" id="head-help">
      <img
        id="head-help"
        src="/assets/img/icons/icon-questionsmark.svg"
        alt="Need Help?"
    /></a>

    <div>
      <img
        id="head-user-image"
        src="https://cdn.pixabay.com/photo/2016/06/15/16/16/man-1459246__480.png"
        alt=""
      />
    </div>
  </div>
</body>
