<a href="../index.html">
  <img id="nav-logo" src="../assets/img/logos/logo-white.png" alt="Join Logo" /></a>
<div id="nav">
  <a href="./summary.html" id="nav-summary" class="nav-item">
    <div class="nav-icon">
      <img src="../assets/img/icons/icon-nav-summary.svg" alt="Summary" />
    </div>
    <div class="font-16 nav-item-text">Summary</div>
  </a>
  <a href="./board.html" id="nav-board" class="nav-item">
    <div class="nav-icon">
      <img src="../assets/img/icons/icon-nav-board.svg" alt="Board" />
    </div>
    <div class="font-16 nav-item-text">Board</div>
  </a>
  <a href="./add-task.html" id="nav-add-task" class="nav-item">
    <div class="nav-icon">
      <img src="../assets/img/icons/icon-nav-add-task.svg" alt="Add task" />
    </div>
    <div class="font-16 nav-item-text">Add Task</div>
  </a>
  <a href="./contacts.html" id="nav-contacts" class="nav-item">
    <div class="nav-icon">
      <img src="../assets/img/icons/icon-nav-contacts.svg" alt="Contacts" />
    </div>
    <div class="font-16 nav-item-text">Contacts</div>
  </a>
</div>
<div id="nav-legal">
  <div id="nav-legal-container">
    <a href="./legal.html" class="nav-item">
      <img src="../assets/img/icons/icon-nav-info.svg" alt="Legal notice" />
      <span class="font-16">Legal notice</span>
    </a>
  </div>
</div>